DATABASE_HOST=demo-db
DATABASE_PORT=5432
DATABASE_ACCOUNT=postgres
DATABASE_PASSWORD=password
DATABASE_DB=demo

KEYCLOAK_HOST=keycloak
KEYCLOAK_DB=demo
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=demo

OAUTH2_ISSUER_URL=http://localhost:8080/auth/realms/demo
OAUTH2_CLIENT_ID=demo-app
OAUTH2_CLIENT_SECRET=dyOJWZeOEXPkNL0RVsIF7e2WbQKG5LZ7
